@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: skyblue;
}

.ts-wrapper {
  @apply border-gray-600;
}
.ts-wrapper .ts-control,
.ts-wrapper.single .ts-control,
.ts-wrapper.single.input-active .ts-control,
.full .ts-control,
.ts-dropdown {
  @apply bg-gray-800 text-white !important;
  box-shadow: none !important;
  background-image: none !important;
  border: none !important;
}

.ts-wrapper .ts-control > input,
.ts-wrapper.single .ts-control > input {
  @apply bg-transparent text-white;
}

.ts-wrapper .ts-dropdown .option {
  @apply bg-gray-800 text-white;
}

.ts-wrapper .ts-dropdown .active,
.ts-wrapper .ts-dropdown [data-selectable]:hover {
  @apply bg-gray-700 text-white;
}

.ts-wrapper.disabled .ts-control,
.ts-wrapper.focus .ts-control {
  @apply bg-gray-700 text-gray-400 border-gray-500;
}

.ts-wrapper.multi .ts-control > div {
  @apply bg-gray-600 text-white;
}

.ts-wrapper .ts-control,
.ts-wrapper .ts-dropdown,
.ts-wrapper .ts-control > div {
  @apply rounded-md;
}

.ts-wrapper .ts-dropdown {
  @apply shadow-md;
}

[data-popover-target=card]:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 1rem;
    border-width: .75rem;
    @apply border-t-white dark:border-t-gray-900 border-transparent;
}
